<div class="container" id="apps" style="display: none;">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h3>Apps</h3>
                <div class="input-group searchApps"> <span class="input-group-addon"><i class='glyphicon glyphicon-search'></i></span>
                        <input id="filter" type="text" class="form-control" placeholder="Search Apps . . . ">
                </div>
                <div class="searchable">
                    <ul>
                        <li id="paintApp"><p class="appTitle">paint</p><span class="glyphicon glyphicon-pencil toggleApps togglePaint"></span></li>
                        <li id="browserApp"><p class="appTitle">browser</p><span class="glyphicon glyphicon-globe toggleApps toggleBrowser"></span></li>
                        <li id="calcApp"><p class="appTitle">calculator</p><span class="glyphicon glyphicon-modal-window toggleApps toggleCalculator"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                        <li><span class="glyphicon glyphicon-heart toggleApps"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
