<div class="container" id="apps" style="display: none;">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h3>Apps</h3>
                <div class="input-group searchApps"> <span class="input-group-addon"><i class='glyphicon glyphicon-search'></i></span>
                        <input id="filter" type="text" class="form-control" placeholder="Search Apps . . . ">
                </div>
                <div class="searchable">
                    <ul>
			<li id="welcomeApp"><p class="appTitle">welcome</p>
				<span class="glyphicon glyphicon-comment toggleApps toggleWindow" data-app="welcome" data-icon="comment"></span></li>
			<li id="drawApp"><p class="appTitle">draw</p>
				<span class="glyphicon glyphicon-pencil toggleApps toggleWindow" data-app="draw" data-icon="pencil"></span></li>
			<li id="browserApp"><p class="appTitle">browser</p>
				<span class="glyphicon glyphicon-globe toggleApps toggleWindow" data-app="browser" data-icon="globe"></span></li>
			<li id="calcApp"><p class="appTitle">calculator</p>
				<span class="glyphicon glyphicon-modal-window toggleApps toggleWindow" data-app="calc" data-icon="modal-window"></span></li>
			<li id="textfileApp"><p class="appTitle">Text Editor</p>
				<span class="glyphicon glyphicon-file toggleApps toggleWindow" data-app="textFile" data-icon="file"></span></li>
			<li id="notesApp"><p class="appTitle">Notes</p>
				<span class="glyphicon glyphicon-inbox toggleApps toggleWindow" data-app="notes" data-icon="inbox"></span></li>
			<li id="cmdApp"><p class="appTitle">Terminal</p>
				<span class="glyphicon glyphicon-console toggleApps toggleWindow" data-app="cmd" data-icon="console"></span></li>
			<li id="presApp"><p class="appTitle">Presentation</p>
				<span class="glyphicon glyphicon-credit-card toggleApps toggleWindow" data-app="pres" data-icon="credit-card"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
