<div class="draggable" style="display:show;" id="browserFrame">
    <div class="window" id="browser">
        <div class="titleBar">
            <span class="close" onclick="closeApp('browser')"></span>
            <span class="max" onclick="maxApp('browser', 0)" ></span>
            <span class="min" onclick="minApp('browser', 0)"></span>
            <input type="text" id="www" value="http://www."><button id="searchURL" id="urlGo">GO!</button>
        </div>
        <%= render 'apps/browser' %>
    </div>
</div>