<!--div class="draggable" style="display:show;" id="browserFrame">
    <div class="window" id="browser">
        <div class="titleBar">
            <span class="close" onclick="closeApp('browser')"></span>
            <span class="max" onclick="maxApp('browser', 0)" ></span>
            <span class="min" onclick="minApp('browser', 0)"></span>
            <input type="text" id="www" value="http://www."><button id="searchURL" id="urlGo">GO!</button>
        </div>
        < %= render 'apps/browser' %>
    </div>
</div-->



<div class="draggable" style="display:none;" id="browserFrame" data-app="browser">
	<div class="window" id="browser">
		<div class="titleBar">
			<span class="close" onclick="closeApp('browser')"></span>
			<span class="max" onclick="snapApp('browser', 2)"></span>
			<span class="rest none" onclick="snapApp('browser', 0)"></span>
			<span class="min" onclick="minApp('browser')"></span>
			<input type="text" id="www" value="http://www."><a href="#" id="searchURL urlGo">GO!</a>

			<span class="rightArrow" onclick="snapApp('browser', 1)"></span>
			<span class="leftArrow" onclick="snapApp('browser', -1)"></span>
		</div>
		<div class="windowContent sizeLock noMarg noPad">
			<%= render 'apps/browser' %>
		</div>
	</div>
</div>