<div class="draggable" style="display:show;" id="exampleFrame" onclick="makeActive('example');">
    <div class="window" id="example">
        <div class="titleBar">
            <span class="close" onclick="closeApp('example')"></span>
            <span class="max" onclick="maxApp('example', 0)"></span>
            <span class="min" onclick="minApp('example', 0)"></span>
            <span class="titleText">Window 2</span>
        </div>
        <div class="windowContent">
            <%= render 'apps/calc' %>
        </div>
    </div>
</div>