<div class="draggable" style="display:show;" id="cmdFrame">
    <div class="window" id="cmd">
        <div class="titleBar">
            <span class="close" onclick="closeApp('cmd')"></span>
            <span class="max" onclick="maxApp('cmd', 0)"></span>
            <span class="min" onclick="minApp('cmd', 0)"></span>
            <span class="titleText">CMD</span>
        </div>
        <div class="windowContent">
            <%= render 'apps/cmd' %>
        </div>
    </div>
</div>