<div id="dockShow" onmouseleave="document.getElementById('dockShow').style.zIndex = '0'"
	onmouseenter="document.getElementById('dockShow').style.zIndex = '90'">
    <div id="dock">
        <div id="dockCenter">
            <!--span class="glyphicon glyphicon-globe toggleBrowser" ></span>
            <span class="glyphicon glyphicon-apple toggleExample" ></span-->
        </div>
    </div>
</div>