<div class="draggable" style="display:none;" id="exampleFrame" data-app="example">
    <div class="window" id="example">
        <div class="titleBar">
            <span class="close" onclick="closeApp('example')"></span>
            <span class="max" onclick="snapApp('example', 2)"></span>
            <span class="rest none" onclick="snapApp('example', 0)"></span>
            <span class="min" onclick="minApp('example')"></span>
            <span class="titleText">Example</span>

            <span class="rightArrow" onclick="snapApp('example', 1)"></span>
            <span class="leftArrow" onclick="snapApp('example', -1)"></span>
        </div>
        <div class="windowContent">
            <h3>Drag Me!</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum, nibh quis consequat imperdiet, augue est imperdiet felis, a malesuada nisl purus at arcu. Donec laoreet lacinia enim, sed ornare nisl tristique sit amet. Nulla finibus felis lectus, sit amet sollicitudin felis facilisis id. Pellentesque non enim nulla. Fusce faucibus neque erat, eleifend ultrices augue sollicitudin quis. Aliquam pellentesque, risus nec pulvinar faucibus, eros purus cursus mi, et congue lectus tellus a sapien. Donec ultricies ac orci id vehicula. Maecenas purus mi, egestas vitae nibh in, maximus tempus nunc. Cras iaculis lectus mollis ex porta fringilla. Cras ut turpis sit amet tellus dignissim consequat. Aliquam lacus purus, dictum sed urna quis, porta sollicitudin ipsum. Vivamus tristique posuere auctor. In et pellentesque felis.
            </p>
            <p>
                Aenean nulla sem, blandit at nunc ac, volutpat semper mauris. Sed at iaculis eros. Donec eget sollicitudin purus. Quisque quis massa quis felis aliquet consequat. Sed eget turpis sed tellus efficitur condimentum. Quisque ullamcorper enim vitae efficitur porttitor. Integer eget aliquam ante. Quisque id nibh quis quam accumsan aliquet id id justo. Sed viverra volutpat tortor a accumsan. Cras aliquet venenatis nisi, nec eleifend elit scelerisque eget. Sed eu imperdiet est, lacinia euismod arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam cursus ipsum et dictum euismod.
            </p>
            <p>
                Duis accumsan, urna vitae lobortis pellentesque, lorem eros ornare nisi, id porttitor massa eros ac tortor. Proin suscipit interdum nulla, vel sollicitudin tellus hendrerit in. Nunc consequat, libero vel mollis tempus, diam erat aliquet augue, rutrum congue arcu justo a justo. Proin purus orci, condimentum nec elit in, posuere egestas mi. Etiam vehicula urna pulvinar viverra fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas malesuada vitae tellus eget dignissim. In vulputate feugiat ligula quis viverra.
            </p>
            <p>
                Cras quis vulputate odio. Proin metus enim, lacinia pulvinar mauris sed, cursus semper dolor. Cras vitae varius erat, vitae convallis diam. Duis laoreet, nisi non egestas commodo, massa dolor dignissim est, ac pulvinar mauris orci quis lectus. In eu feugiat odio. Nulla suscipit leo a mi volutpat, sit amet lacinia est tempor. Duis magna velit, porttitor in orci ut, pellentesque venenatis nisi. Nam quis leo bibendum, luctus augue sed, vulputate neque. Aliquam erat volutpat. Donec vulputate ornare justo, congue condimentum enim sagittis lobortis. Nunc hendrerit varius turpis, in vulputate felis venenatis vitae. Vivamus porta dolor at mauris consectetur, id suscipit sem hendrerit.
            </p>
            <p>
                Pellentesque iaculis posuere faucibus. Duis non tempus velit, non bibendum purus. Nullam sit amet magna massa. Phasellus aliquam quam at rutrum malesuada. Maecenas gravida vulputate tempor. Vivamus vulputate et nisi id bibendum. Nulla in diam convallis, finibus ante ac, pretium neque.
            </p>
        </div>
    </div>
</div>
