<div class="draggable" style="display:show;" id="paintFrame">
    <div class="window" id="paint">
        <div class="titleBar">
            <span class="close" onclick="closeApp('paint')"></span>
            <span class="max" onclick="maxApp('paint', 0)"></span>
            <span class="min" onclick="minApp('paint', 0)"></span>
            <span class="titleText">Paint</span>
        </div>
        <div class="windowContent">
            <%= render 'apps/paint' %>
        </div>
    </div>
</div>