<div class="draggable" style="display:show;" id="drawFrame" data-app="draw">
    <div class="window" id="draw">
        <div class="titleBar">
            <span class="close" onclick="closeApp('draw')"></span>
            <span class="max" onclick="snapApp('draw', 2)"></span>
            <span class="rest none" onclick="snapApp('draw', 0)"></span>
            <span class="min" onclick="minApp('draw')"></span>
            <span class="titleText">Draw</span>

            <span class="rightArrow" onclick="snapApp('draw', 1)"></span>
            <span class="leftArrow" onclick="snapApp('draw', -1)"></span>
        </div>
        <div class="windowContent">
            <%= render 'apps/draw' %>
        </div>
    </div>
</div>
