<div class="draggable" style="display:show;" id="drawFrame">
    <div class="window" id="draw">
        <div class="titleBar">
            <span class="close" onclick="closeApp('draw')"></span>
            <span class="max" onclick="maxApp('draw', 0)"></span>
            <span class="min" onclick="minApp('draw', 0)"></span>
            <span class="titleText">Draw APP</span>
        </div>
        <div class="windowContent">
            <%= render 'apps/paint' %>
        </div>
    </div>
</div>