<div class="draggable" style="display:show;" id="textfileFrame">
    <div class="window" id="textfile">
        <div class="titleBar">
            <span class="close" onclick="closeApp('textfile')"></span>
            <span class="max" onclick="maxApp('textfile', 0)" ></span>
            <span class="min" onclick="minApp('textfile', 0)"></span>
            <input "value="TextFile App - Google Drive">
        </div>
        <%= render 'apps/textFile' %>
    </div>
</div>