<div class="draggable" style="display:none;" id="welcomeFrame" data-app="welcome">
    <div class="window" id="welcome">
        <div class="titleBar">
            <span class="close" onclick="closeApp('welcome')"></span>
            <span class="max" onclick="snapApp('welcome', 2)"></span>
            <span class="rest none" onclick="snapApp('welcome', 0)"></span>
            <span class="min" onclick="minApp('welcome')"></span>
            <span class="titleText">Welcome</span>

            <span class="rightArrow" onclick="snapApp('welcome', 1)"></span>
            <span class="leftArrow" onclick="snapApp('welcome', -1)"></span>
        </div>
        <div class="windowContent">
            <h3>Welcome to andrOS</h3>
            <p>
                andrOS is a web OS.  This is simply a website that seeks to provide similar functionality as a tradional computer.  andrOS includes a handful of apps to try out right now.  Just click the app grid in the top left to get started!
            </p>
        </div>
    </div>
</div>
