<div class="windowContent sizeLock noMarg noPad">
    <!--input type="text" id="www" value="www."><button onclick="www()">GO!</button><br /-->
    <iframe src="http://www.bing.com/" id="browserContent"></iframe>
</div>
