<div class="calculator">
  <input type="text" readonly>
  <div class="row">
    <div class="col-xs-3"><div class="key">1</div></div>
    <div class="col-xs-3"><div class="key">2</div></div>
    <div class="col-xs-3"><div class="key">3</div></div>
    <div class="col-xs-3"><div class="key last">0</div></div>
  </div>
  <div class="row">
    <div class="col-xs-3"><div class="key">4</div></div>
    <div class="col-xs-3"><div class="key">5</div></div>
    <div class="col-xs-3"><div class="key">6</div></div>
    <div class="col-xs-3"><div class="key last action instant">cl</div></div>
  </div>
  <div class="row">
    <div class="col-xs-3"><div class="key">7</div></div>
    <div class="col-xs-3"><div class="key">8</div></div>
    <div class="col-xs-3"><div class="key">9</div></div>
    <div class="col-xs-3"><div class="key last action instant">=</div></div>
  </div>
  <div class="row">
    <div class="col-xs-3"><div class="key action">+</div></div>
    <div class="col-xs-3"><div class="key action">-</div></div>
    <div class="col-xs-3"><div class="key action">x</div></div>
    <div class="col-xs-3"><div class="key last action">/</div></div>
  </div>

</div>
