 <div contenteditable="true"  id="txtDiv" class="cmd">
 	<label>Terminal Commands
	 	<br>
	 	[1] Get your IP
	 	<br>
	 	[2] Network Connection
	 	<br>
	 	[3] Engine Name of Browser
	 	<br>
	 	[4] Cookies
	 	<br>
	 	[5] Browser Language
	 	<br>
	 	[6] Broweser Version Information
	 	<br>
	 	[7] List All Apps Installed
	 	<br>
 		<textarea id="cmdResult" class="cmd"  disabled></textarea>
 	</label>
 </div>
 <input id="cmdIn" placeholder="~$ "> 

<script type="text/javascript" src="http://l2.io/ip.js?var=myip"></script>
                                                      <!-- ^^^^ -->
